---
import { Icon } from 'astro-icon/components';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Branding',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Branding"
    title="Identidad de marca"
    subtitle="La identidad que te define, es la identidad que te conecta. Expresate a través de tu apariencia, comportamiento y valores."
    image={{
      src: '~/assets/images/branding.png',
      alt: 'Branding Hero Image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Elementos que la componen"
    subtitle="Fundamentales para diferenciarse, crear confianza y fomentar la lealtad de los clientes."
    columns={3}
    items={[
      {
        title: 'Logotipo',
        description:
          'El logotipo es el símbolo más reconocido de una marca y es el primer contacto que los clientes tienen con la marca.',
        icon: 'tabler:brand-tabler',
      },
      {
        title: 'Colores',
        description:
          'Los colores son un elemento clave en la identidad de marca, ya que pueden evocar emociones y sentimientos específicos.',
        icon: 'tabler:palette',
      },
      {
        title: 'Tipografía',
        description: ` La tipografía es la forma en que se presenta el texto en una marca, lo que puede influir en la percepción y la memoria de la marca.`,
        icon: 'tabler:typography',
      },
      {
        title: 'Tono de voz',
        description:
          'El tono de voz es la forma en que una marca se comunica con los clientes, lo que puede ser formal, informal, amistoso o profesional.',
        icon: 'tabler:social',
      },
      {
        title: 'Valores',
        description:
          'Los valores son los principios que guían la marca y la forma en que se comporta.',
        icon: 'tabler:seeding',
      },
      {
        title: 'Misión',
        description:
          'La misión es la razón por la que una marca existe y lo que se propone lograr.',
        icon: 'tabler:target',
      },
      {
        title: 'Visión',
        description:
          'La visión es la visión que una marca tiene para el futuro y cómo se propone lograrla.',
        icon: 'tabler:eye',
      },
      {
        title: 'Confianza',
        description: `La identidad de marca puede crear confianza en la marca y en sus productos o servicios.`,
        icon: 'tabler:heart-handshake',
      },
      {
        title: 'Comunicación',
        description:
          'La identidad de marca proporciona una guía para la comunicación de la marca y ayuda a los empleados a entender la misión y los valores de la marca.',
        icon: 'tabler:message-dots',
      },
    ]}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
 </Fragment>
  </Features2>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Visibilidad y accesibilidad',
        description:
          'En la era digital, las marcas están disponibles las 24 horas del día, los 7 días de la semana. La identidad debe ser coherente y reconocible en todos los canales y dispositivos.',
        icon: 'tabler:24-hours',
      },
      {
        title: 'Experiencia del usuario',
        description:
          'Una identidad de marcas coherente y atractiva puede mejorar la experiencia del usuario y aumentar la lealtad y la satisfacción del cliente.',
        icon: 'tabler:user-heart',
      },
      {
        title: 'Personalización',
        description:
          'La era digital permite una mayor personalización en la comunicación y la experiencia del usuario.',
        icon: 'tabler:user',
      },
      {
        title: 'Costos y eficiencia',
        description:
          'La identidad de marcas en línea puede ser más eficiente y rentable que la publicidad tradicional. Una identidad de marcas fuerte y reconocible puede reducir los costos de marketing y aumentar el ROI.',
        icon: 'tabler:coin',
      },
    ]}
    image={{
      src: '~/assets/images/branding1.png',
      alt: 'Branding image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Identidad de marca en la era Digital</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Diferenciación',
        description:
          'La identidad de marcas permite a las empresas diferenciarse de la competencia y establecer una posición única en el mercado.',
        icon: 'tabler:check',
      },
      {
        title: 'Reconocimiento y confianza',
        description:
          'La identidad de marcas puede influir en la percepción que los clientes tienen de la empresa. Una identidad de marcas coherente y atractiva puede aumentar la confianza y la credibilidad de la empresa.',
        icon: 'tabler:checks',
      },
      {
        title: 'Comunicación efectiva',
        description:
          'Una identidad de marcas coherente y atractiva puede ayudar a las empresas a comunicar sus valores, objetivos y beneficios de manera efectiva.',
        icon: 'tabler:speakerphone',
      },
      {
        title: 'Legado y herencia',
        description:
          'La identidad de marcas puede dejar un legado y una herencia duradera. Una identidad de marcas fuerte y reconocible puede ayudar a las empresas a dejar un impacto positivo.',
        icon: 'tabler:dna',
      },
    ]}
    image={{
      src: '~/assets/images/branding2.png',
      alt: 'Branding Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Herramienta clave para el éxito</h3>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Vamos adiseniar',
        href: '/contact',
        icon: 'tabler:arrow-big-right-filled',
      },
    ]}
  >
    <Fragment slot="title">
      <span>Adiseniar</span>
    </Fragment>

    <Fragment slot="subtitle">
      Tecnología Digital a tu alcance. 
      <span class="mt-3 flex justify-center md:inline-flex md:ml-3"><Icon class="text-4xl" name="rocket"/></span>
    </Fragment>
  </CallToAction>
</Layout>
