---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contacto',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText 
    tagline="Vamos adiseniar!" 
    title="Contacto"
    subtitle="Si tenés una idea o un proyecto que necesite apoyo, estamos aquí para ayudarte." 
    />

  <!------------------ Google Forms Contact-------------------------- -->

  <div class="flex justify-center mx-auto max-w-7xl">
    
    <iframe 
      src="https://docs.google.com/forms/d/e/1FAIpQLSckVBLMDZJTdWG_R5-qwKSUOp9_60ycXcJ7iRGk9xeyRKV5MA/viewform?embedded=true" 
      width="700" height="1100">
      Loading…
    </iframe>

  </div>

  <!-- Features2 Widget ************** -->

  <Features2
    title="¡Estamos para ayudarte!",
    columns = {2},
    items={[
      {
        title: 'Email',
        description: 'adiseniar@gmail.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Instagram',
        description: '@adiseniar_',
        icon: 'tabler:brand-instagram',
      },
    ]}
  />
</Layout>
