---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Brands from '~/components/widgets/Brands.astro';
import Features3 from '~/components/widgets/Features3.astro';


const metadata = {
  title: 'Adiseniar — Desarrollo de Software',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
    <!-- Hero Widget ******************* -->
    <Hero2
    tagline="Tecnología que transforma"
    image={{
      src: '~/assets/images/software-dev-hero.png',
      alt: 'Software developer illustration',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Software:</span> <br /> brindamos soluciones <span
        class="hidden xl:inline">con código.</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      Desarrollamos soluciones de software para impulsar la transformación digital de tus operaciones
      y mejorar tus resultados.
    </Fragment>
    </Hero2>

    <!-- Features3 Widget ************** -->

  <Features3
  id="landing"
  title="¿Qué es una Landing?"
  subtitle="Es una página web específica que se crea para promover un producto, servicio o idea. Herramienta poderosa para mejorar la visibilidad de la marca, aumentar las conversiones y mejorar la experiencia del usuario."
  tagline="Página de Presentación"
  columns={2}
  items={[
    {
      title: 'Incrementa la visibilidad',
      description: `Una landing page puede ayudar a aumentar la visibilidad de la marca y a establecer una presencia en línea.`,
      icon: 'tabler:square-number-1',
    },
    {
      title: 'Mejora la experiencia del usuario',
      description:
        'Una página web de presentación bien diseñada puede mejorar la experiencia del usuario, lo que a su vez puede aumentar la confianza en la marca.',
      icon: 'tabler:square-number-2',
    },
    {
      title: 'Aumenta las conversiones',
      description: 'Una landing page puede aumentar las conversiones, ya sea mediante una solicitud de información, un contacto, una compra o una suscripción.',
      icon: 'tabler:square-number-3',
    },
    {
      title: 'Integración con otros canales',
      description: `Una página web profesional puede ser integrada con otros canales de marketing, como email marketing, redes sociales y SEO, para crear una estrategia de marketing más completa.`,
      icon: 'tabler:square-number-4',
    },
  ]}
  image={{
    src: '~/assets/images/software-dev-2.png',
    alt: 'Software development',
  }}
>
  <Fragment slot="bg">
     <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features3>

    <!-- Brands Widget ****************** -->

  <Brands
  tagline="Ciencias Informáticas"
  title="Herramientas y tecnologías"
  subtitle="Creamos soluciones innovadoras y escalables con las últimas tecnologías y tendencias."
  icons={[
    'html-5', 'css-3', 'javascript', 'node-js', 'python', 'tailwind', 'docker', 'linux',
    'astro', 'react', 'vue', 'huggingface', 'transformers', 'git', 'github', 'gitlab',
    'cloudflare', 'google'
  ]}
/>

    
</Layout>